
<div class = 'cls_footer'>

	<div class = 'foot'>
		
		<div fxLayout = "column" fxLayout.lt-md="column" fxLayoutGap="42px" fxLayoutAlign="start center">
			<div fxFlex></div>		
			<div>
				<mat-icon>map</mat-icon>
				Address: 2930 6th Pear Street Diepsloot

	
			</div>
			
			<div>
				follow me on:
				<p>
					<span class="social">
						<a [href]="['https://www.linkedin.com/in/lazin/']" target="_blank" rel="noopener">
							<img [src]="linkedIn" alt="linkedIn" />
						</a>
					</span>
					<span class="social">
				        <a [href]="['https://www.facebook.com/lazarus.chinounye']"target="_blank" rel="noopener">
				        	<img [src]="facebook" alt="facebook" />
				        </a>
				    </span>
				    <span class="social">
				        <a [href]="['https://twitter.com/LChinounye']" target="_blank" rel="noopener">
				        	<img [src]="twitter" alt="twitter" />
				        </a>
				    </span>
				</p>
							                
				
			</div> 
			<div>
				© 2019 Theme Developed by Me 
				<span class="highLight">
					<a [href]="['https://twitter.com/LChinounye']" target="_blank" rel="noopener">
		        	
		        		#TheBossLA.
		        	</a>
	        	</span>
			</div>
			<div fxFlex></div>
		</div>
		
	</div>
</div>
