
 
<div class = 'ad-banner'> 			
	<div class = 'title'>
		<h1>My Abilities</h1>
		<span class="mat-subheading">
			“Life without knowledge is death in disguise.”<br>
			- Talib Kweli
		</span>
        <span>            
          <hr>  
        </span>
        <a [href]="['https://www.linkedin.com/in/lazin/']" target="_blank" rel="noopener">
            <img [src]="linkedIn" alt="linkedin" />
        </a>
        <a [href]="['https://www.facebook.com/lazarus.chinounye']" target="_blank" rel="noopener">
            <img [src]="facebook" alt="facebook" />
        </a>
        <a [href]="['https://twitter.com/LChinounye']" target="_blank" rel="noopener">
            <img [src]="twitter" alt="twitter" />
        </a>
	</div>
	<div class="card">
		        <div class="skill">
                                <div fxLayout = "row" fxLayoutGap="60px" fxLayoutAlign="start center">
                                    <div fxFlex>
                                        <span class="col-FT">
                                            PYTHON <span fxFlex></span> 
                                                
                                                <img [src]="star" />
                                                <img [src]="star" />
                                                <img [src]="star" />
                                                <img [src]="star" />
                                                <img [src]="star" />
                                        </span>
                                        <span class="col-SC">
                                            JAVASCRIPT <span fxFlex></span> 
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                        </span>
                                        <span class="col-FT">
                                            TYPESCRIPT <span fxFlex></span> 
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                        </span>
                                        <span class="col-SC">
                                            PHP <span fxFlex></span> 
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />                                    
                                        </span>
                                        <span class="col-FT">
                                            MICROSOFT VISUAL BASIC <span fxFlex></span>
                                            <img [src]="star" />
                                            <img [src]="star" /> 
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                        </span> 
                                    	<span class="col-SC">
                                            MICROSOFT OFFICE  <span fxFlex></span> 
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                        </span>
                                        <span class="col-FT">
                                            MATPLOTLIB <span fxFlex></span> 
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                        </span>
                                        <span class="col-SC">
                                            ANGULAR CLI <span fxFlex></span> 
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                        </span>
                                        <span class="col-FT">
                                            OBJECT ORIENTATED PROGRAMMING <span fxFlex></span> 
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />

                                        </span>
                                        <span class="col-SC">
                                            ANGULAR MATERIAL <span fxFlex></span> 
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                        </span>
                                        <span class="col-FT">
                                            MYSQL | SQL <span fxFlex></span> 
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                        </span><!--  -->
                                    
                                    
                                        <span class="col-SC">
                                            ANGULAR <span fxFlex></span> 
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />

                                        </span>
                                        <span class="col-FT">
                                            DJANGO <span fxFlex></span> 
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                        </span>
                                        <span class="col-SC">
                                            FLASK <span fxFlex></span> 
                                            <img [src]="star" />
                                            <img [src]="star" />                                   
                                            <img [src]="star" />
                                            
                                        </span>
                                        <span class="col-FT">
                                            HTML <span fxFlex></span>
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                        </span> 
                                    	<span class="col-SC">
                                            WEB APIS <span fxFlex></span> 
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                        </span>
                                        <span class="col-FT">
                                            CSS3 <span fxFlex></span> 
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                        </span>
                                        <span class="col-SC">
                                            PANDAS <span fxFlex></span>
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                        </span>
                                        <span class="col-FT">
                                            NUMPY<span fxFlex></span> 
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />

                                        </span>
                                        <span class="col-SC">
                                            SEO <span fxFlex></span> 
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />

                                        </span>
                                        <span class="col-FT">
                                            MATERIALIZE <span fxFlex></span> 
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />

                                        </span>
                                        <span class="col-SC">
                                            MANGO DB <span fxFlex></span> 
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                        </span> 
                                        <span class="col-FT">
                                            NODEJS <span fxFlex></span> 
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                            <img [src]="star" />
                                        </span>
                                    </div> 
                                </div>                             
                          <!--  -->
                        </div>
                   	</div>
</div> 
            
  