

<div class="container">
  <div class="contact"> 

    <div class="cls-contact">
      <h1> Lets Talk </h1>
    </div>

    <div class="align">
      <h2> Im available, How can I help you?.</h2>
    </div>

    <hr>
    <div class="center_align">
    <div fxLayout = "row" fxLayout.lt-md="column" fxLayoutGap="42px" fxLayoutAlign="start center">
      
      <span fxFlex></span>
      <span>
        <img mat-card-avatar src="/assets/img/web5.jpg" alt="profile">
        <p>          
            <mat-hint>Lazarus Chinounye</mat-hint>          
        </p>
      </span>
      <span fxFlex></span>
      <span>        <mat-icon>phone</mat-icon>
        <p>          
            <mat-hint>(076)-033-5768 | (083) -823-6028</mat-hint>     
        </p>
      </span>
      <span fxFlex></span>
      <span>
        <mat-icon>mail</mat-icon>
        <p>         
            <mat-hint>lazinltd@gmail.com</mat-hint>          
        </p>
      </span>     
      <span fxFlex></span>

    </div>
  </div>
  </div>
</div>

