
	
<div class = 'cls_skills'> 
	<div class="space_padding">

		
			<h1> My Web Skills </h1>
			<span class="ft-title">

				<p>“Protons give an atom its identity, electrons its personality.<br>
				- Bill Bryson, A short history of nearly everything</p>
			</span>
			<div class="center-card">
			<div class="grid">
							 

			 	<div fxLayout = "row" fxLayout.lt-md="column" fxLayoutGap="12px" fxLayoutAlign="start center">
			 		

			 		
					<div class="card">
						<span class = "skill">
							<mat-card [style.backgroundColor] = "'white'"[style.color]="'#49274A'">

						          <mat-card-content>
	
						            <span>
						            	<img mat-card-avatar src="https://img.icons8.com/ios-filled/50/000000/angularjs.png" alt="frameworks"> 						            <span>
						            	<h4> FRAMEWORKS </h4>							
										ANGULAR | DJANGO | FLASK
								    </span>
						            	
						                <hr />

						                
						            </span>
						           						            
						          </mat-card-content>
							       
						        	<span>
						        		much more than just adjusting screen resolutions and using automatically resizable images.
						        	</span>
						        	
						      </mat-card>
						  </span>

					</div>
				
					<div class="card">
						<span class = "skill">
							<mat-card [style.backgroundColor] = "'white'"[style.color]="'#49274A'">

						          <mat-card-content>
	
						            <span>
						            	<img mat-card-avatar src="https://img.icons8.com/metro/26/000000/database.png" alt="database programming"> 
						            <span>
						            	<h4> DATABASES </h4>							
										MYSQL | SQL | MANGODB | MS ACCESS 
								    </span>
						            	
						                <hr />

						                
						            </span>
						           						            
						          </mat-card-content>
						        	<span>
						        		much more than just adjusting screen resolutions and using automatically resizable images.
						        	</span>		        
						      </mat-card>
						  </span>

					</div>
					
					<div class="card">
						<span class = "skill">
							<mat-card [style.backgroundColor] = "'white'"[style.color]="'#49274A'">

						          <mat-card-content>
	
						            <span><img mat-card-avatar src="https://img.icons8.com/ios-glyphs/50/000000/javascript.png" alt="full stack"> </span>
						            <span>
						            	<h4> FULL STACK  </h4>
						            	<p>MANGODB | EXPRESS | ANGULAR | NODEJS</p>			  
								    </span>						            	
						                <hr />					           						            
						          </mat-card-content>

						           	<span>
						           		much more than just adjusting screen resolutions and using automatically resizable images.
						           	</span>		        
						    </mat-card>
						</span>

					</div>
				</div>
				</div>
			</div>			
		</div>
	
</div>

<!-- <span class="glyphicon glyphicon-star filled">*</span> -->
<!-- <div class="container" fxLayout  fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div class="item item-1" fxFlex="15%">Item 1</div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="3">Item 2</div>
  <div class="item item-3" fxFlex>Item 3</div>

</div> -->