

		<div class="header">
		  <app-header></app-header>
		</div>

		<div class = 'title'>          
		  <h1>{{title}}</h1>        
		</div>

		<div class="home">
			<span class="mat-content">
			  <app-home></app-home>
			</span>
		</div>

		<div class="profile">
			<span class="mat-content">
		  		<app-profile></app-profile>
		  	</span>
		</div>

		<div class="skill">
			<span class="mat-content">
		  		<app-skill></app-skill>
		  	</span>
		</div>

		<div class="ability">
			<span class="mat-content">
		  		<app-ability></app-ability>
		  	</span>
		</div>

		<div class="contact">
			<span class="mat-content">
		  		<app-contact></app-contact>
		  	</span>
		</div>

		<div class="footer">
			<span class="mat-content">
		  		<app-footer></app-footer>
		  	</span>
		</div>

<router-outlet></router-outlet>
