<div class = 'cls_clients'>
    
	<div class="about-me">				
			<div class="ft-col">

				<div class="ql-padding">
        			 <h1> Profile </h1>
                     <p>“Protons give an atom its identity, electrons its personality.<br>
                    - Bill Bryson, A short history of nearly everything</p>
                </div>

                 <hr>
                
                <div class="qualifications">
    			<div fxLayout = "row" fxLayout.lt-md="column" fxLayoutGap="32px" fxLayoutAlign="start center">
    			
    				<span>         
    					Im a hard working person, I'II do my best to make my enviroment a healthy and happy one. I'm flexible and can do in and enviroment may it be alone or as a team. I would also like to exceel my carreer and be seccessful.
    				</span>     
    			</div>
                </div>
                    
                <div fxLayout = "row" fxLayout.lt-md="column" fxLayoutGap="32px" fxLayoutAlign="start center">
                    <span class="profile">
                        <img [src]="img" alt="all_devices" name="responsive website">
                         
                    </span>
        			<span class="app-framework">
        				
        				<div class="hero-profile">
							     
							    <!--  <span><h4>{{hero.name | uppercase}}</h4></span>
							     
							     <div [ngClass] ="hero-name">
							     	<label>Name:
							     		<input [(ngModel)] = 'hero.name' placeholder="Name"/>
							     	</label> -->
							     	
							     
							     	<div fxLayout = "row" fxLayout.lt-md="column" fxLayoutGap="32px" fxLayoutAlign="start center">
							     		
							                   
							                    <span class="qualifications">

								                    <strong> Qualifications : Diploma </strong><br>
								                         Computer Engineering<br>                    
								                    <h6>YEAR: 2011 </h6>
								                </span>
								                <span fxFlex></span>
							                    <span class="qualifications">
								                    Microsoft Access<br>
								                    Microsoft Visual Basic 6.0 <br>
								                    HTML (Web Development)<br>
								                    Networking and Trouble Shooting <br>
								                    Pc Installation <br>
								                    Bussiness Information and Entrepreneurship      
							                    </span>
							                      
							        </div> 

							</div>
                    </span>    
    			</div>                           
            </div>
	   </div>	
</div>
