<div class = 'cls-home'>
	
	<div class="cls_home">
		<span class="circle-link">
			<a [href]="['https://www.linkedin.com/in/lazin/']" target="_blank" rel="noopener"> 
				<img [src]="linkedIn" alt="linkedIn"/>
			</a>
		</span>
		<span class="circle-link">
	        <a [href]="['https://www.facebook.com/lazarus.chinounye']" target="_blank" rel="noopener">
	        	<img [src]="facebook" alt="facebook"/>
	        </a>
	    </span>
	    <span class="circle-link">
	        <a [href]="['https://twitter.com/LChinounye']" target="_blank"xrel="noopener">
	        	<img [src]="twitter" alt="twitter"/>
	        </a>
    	</span>
        <div class="mat_content"> FOLLOW ME </div>
        <hr>
	<div class="qualifications">

        
    			<div fxLayout = "row" fxLayout.lt-md="column" fxLayoutGap="32px" fxLayoutAlign="start center">
    				<span class="profile">
		                <img [src]="img" alt="angular developer" />
		            </span>
          
    				<span>         
    					Responsive webdesign is what's shapping the online experience now. The internet is now a platform of services and I have the skills to offer your visitors the optimal viewing experience, regardless of the device they choose. I can deal with all the creative and techinological issues that issues that this fundamentally different and innovative approach might present- much more than just adjusting screen resolutions and using automatically resizable images.
    				</span>     
    			</div>
                </div>
            	
    </div>
          
</div>